<script>

const topic =
    "Social media is harmful";

function sendMessage(){

    let input =
        document.getElementById("input").value;

    let chat =
        document.getElementById("chat");

    // USER MESSAGE
    chat.innerHTML += `
        <div class="user">
            <div class="bubble-user">
                ${input}
            </div>
        </div>
    `;

    // API CALL
    fetch("/api/debate/reply", {

        method: "POST",

        headers: {
            "Content-Type":
                "application/json"
        },

        body: JSON.stringify({

            topic: topic,
            argument: input

        })
    })

    .then(res => res.text())

    .then(data => {

        chat.innerHTML += `
            <div class="ai">
                <div class="bubble-ai">
                    ${data}
                </div>
            </div>
        `;

        chat.scrollTop =
            chat.scrollHeight;
    })

    .catch(error => {

        console.log(error);

        chat.innerHTML += `
            <div class="ai">
                <div class="bubble-ai">
                    AI service error.
                </div>
            </div>
        `;
    });

    document.getElementById("input").value = "";
}

</script>